[submodule "gazer/third_party/protobuf/protobuf"]
	path = gazer/third_party/protobuf/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "gazer/third_party/grpc/grpc"]
	path = gazer/third_party/grpc/grpc
	url = https://github.com/grpc/grpc.git
[submodule "gazer/third_party/rapidjson/rapidjson"]
	path = gazer/third_party/rapidjson/rapidjson
	url = https://github.com/Tencent/rapidjson.git
